@import url(../../node_modules/cm-chessboard/assets/chessboard.css);
@import url(../../node_modules/cm-chessboard/assets/extensions/markers/markers.css);
/** XMC - Extreme Minimal CSS */
html {
  box-sizing: border-box;
  font-size: 16px; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1024px;
  background-color: #fff;
  color: #222; }

section {
  margin-bottom: 2rem; }

h1, h2, h3, h4, h5, h6, p, ol, ul, form, table {
  margin: 0 0 1rem 0; }
  h1 ul, h1 ol, h2 ul, h2 ol, h3 ul, h3 ol, h4 ul, h4 ol, h5 ul, h5 ol, h6 ul, h6 ol, p ul, p ol, ol ul, ol ol, ul ul, ul ol, form ul, form ol, table ul, table ol {
    margin-bottom: 0; }

p, ol, ul {
  font-weight: 400; 
  text-align: center;}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  text-align: center; }

h1 {
  font-size: 2rem;}

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1rem; }

pre {
  padding: 0.75rem 1rem;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  margin: 0 0 1.5rem 0; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #485bea; }

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem; }
  table th, table td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ddd; }
    table th {
      font-weight: 600; }



.board {
  margin: 0 auto; display: flex; justify-content: center;}
  
.buttons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;}

.Menu {
  position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 220px;}

.Menu a {
  padding: 8px;
  text-decoration: none;
  font-size: 27px;
  color: #ffffff;
  display: block;
  transition: 0.3s; }

.Menu a:hover, .Menu a:focus {
  color: #878787; }

button {
  background-color: #5169fc;
  color: #fff;
  cursor: pointer;
  border-color: #5169fc;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  font-size: 16px; }
button:active {
  background-color: #3853fc;
  border-color: #3853fc; }

fieldset {
  border: none;
  padding: 0;
  margin: 0; }
  fieldset legend {
    padding: 0;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1.25rem; }

  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
    
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
    
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
    
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
    
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }    

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.25rem; }

input, textarea, select {
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 16px;
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: none;
  border: 1px solid #222; }

html[data-emc-theme="dark"] body {
  background-color: #222;
  color: #fff; }
  html[data-emc-theme="dark"] body p, html[data-emc-theme="dark"] body ol, html[data-emc-theme="dark"] body ul {
    font-weight: 300; }
  html[data-emc-theme="dark"] body h1, html[data-emc-theme="dark"] body h2, html[data-emc-theme="dark"] body h3, html[data-emc-theme="dark"] body h4, html[data-emc-theme="dark"] body h5, html[data-emc-theme="dark"] body h6 {
    font-weight: 500; }
  html[data-emc-theme="dark"] body pre {
    background-color: #2f2f2f; }
  html[data-emc-theme="dark"] body input, html[data-emc-theme="dark"] body textarea, html[data-emc-theme="dark"] body select {
    background-color: #2f2f2f;
    color: #f2f2f2;
    border: 1px solid gray; }

@media (prefers-color-scheme: dark) {
  html[data-emc-theme="auto"] body {
    background-color: #222;
    color: #fff; }
    html[data-emc-theme="auto"] body p, html[data-emc-theme="auto"] body ol, html[data-emc-theme="auto"] body ul {
      font-weight: 300; }
    html[data-emc-theme="auto"] body h1, html[data-emc-theme="auto"] body h2, html[data-emc-theme="auto"] body h3, html[data-emc-theme="auto"] body h4, html[data-emc-theme="auto"] body h5, html[data-emc-theme="auto"] body h6 {
      font-weight: 500; }
    html[data-emc-theme="auto"] body pre {
      background-color: #2f2f2f; }
    html[data-emc-theme="auto"] body input, html[data-emc-theme="auto"] body textarea, html[data-emc-theme="auto"] body select {
      background-color: #2f2f2f;
      color: #f2f2f2;
      border: 1px solid gray; } }

/*# sourceMappingURL=screen.css.map */